.figure{
  width: 1520px;
  height: 10px;
  background:rgb(184, 223, 191);
  text-align: center;
}
@font-face{
  src: url("../fonts/HoengseongHanu.ttf");
  font-family: "jua";
}
@font-face {
  font-family: "godic";
  src: url("../fonts/MinSans-Regular.ttf");
}
h1{
  font-family: "jua";
  text-align: center;
  font-size: 32px;
}
h2{
  font-family: "godic";
}
p{
  font-family: "godic";
  font-size: 19px;
}
.plan{
  margin-left: 40px;
  margin-top: 40px;
}
.title{
  margin-top: 40px;
}

body{
  margin:0;
}

.nav-container{
  display: flex;
  flex-direction: row;
  width:100%;
  margin: 0;
  padding: 0;
  background-color: darkslategrey;
  list-style-type: none;
  font-size: 20px;
  color:white;
  font-family: "godic";
  
}

.nav-item{
  padding:15px;
  cursor: pointer;
  text-align: center;
}

.nav-item a {
  text-align: center;
  text-decoration: none;
  color:white;
}